<div class="log-reg">
    <div
        class="modal fade login"
        id="loginModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModal"
        aria-hidden="true"
    >
        <div class="modal-dialog login animated" role="document">
            <div class="modal-content">
                <div
                    class="modal-header d-flex justify-content-between align-items-center"
                >
                    <h4 class="modal-title">Iniciar sesión</h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                            <div class="img text-center mb-5">
                                <img
                                    src="/assets/icons/icono.png"
                                    alt="alarom logo"
                                />
                            </div>
                            <div class="error"></div>
                            <div class="form loginBox">
                                <form id="signin1" accept-charset="UTF-8">
                                    <input
                                        [(ngModel)]="loginUserData.email"
                                        class="form-control"
                                        type="email"
                                        placeholder="Email"
                                        name="email"
                                        required
                                    />
                                    <input
                                        [(ngModel)]="loginUserData.password"
                                        class="form-control"
                                        type="password"
                                        placeholder="Contraseña"
                                        name="password"
                                        required
                                    />
                                    <button
                                        (click)="loginUser()"
                                        class="btn btn-default btn-login"
                                        type="button"
                                    >
                                        Iniciar Sesión
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="log-reg">
    <div
        class="modal fade login"
        id="registerModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModal"
        aria-hidden="true"
    >
        <div class="modal-dialog login animated" role="document">
            <div class="modal-content">
                <div
                    class="modal-header d-flex justify-content-between align-items-center"
                >
                    <h4 class="modal-title">Registrarse</h4>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content registerBox">
                            <div class="img text-center mb-5">
                                <img
                                    src="/assets/icons/icono.png"
                                    alt="alarom logo"
                                />
                            </div>
                            <div class="error"></div>
                            <div class="form">
                                <form
                                    id="signup2"
                                    html="{:multipart=>true}"
                                    data-remote="true"
                                    accept-charset="UTF-8"
                                >
                                    <input
                                        [(ngModel)]="registerUserData.email"
                                        class="form-control"
                                        type="email"
                                        placeholder="Email"
                                        name="email"
                                        required
                                    />
                                    <input
                                        [(ngModel)]="registerUserData.password"
                                        class="form-control"
                                        type="password"
                                        placeholder="Contraseña"
                                        name="password"
                                        required
                                    />
                                    <input
                                        [(ngModel)]="
                                            registerUserData.password_confirmation
                                        "
                                        class="form-control"
                                        type="password"
                                        placeholder="Repita la Contraseña"
                                        name="password_confirmation"
                                        required
                                    />
                                    <button
                                        (click)="registerUser()"
                                        class="btn btn-default btn-login"
                                        type="button"
                                    >
                                        Iniciar Sesión
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
