<div id="dev_text">
    <h1>
        Equipo de Desarrolladores
    </h1>
    <p>
        Sin ellos no hubiese sido posible realizar todo esto
    </p>
</div>

<div class="contenedor_devs">
    <div class="box_information">
        
        <img class="imagen_dev" src="../../assets/img/devteam/Alex.jpg" alt="">
        <div class="full_name_container" >
            <h2 class="full_name">
                <span class="first_name">
                    Alex
                </span>
                <span class="last_name">
                    Velez
                </span>
            </h2>
            <p class="title_dev">
                Developer
            </p>
            
        </div>
    </div>
    <div class="box_information">
        <img class="imagen_dev" src="../../assets/img/devteam/valeria.jpg" alt="">
        <div class="full_name_container" >
            <h2 class="full_name">
                <span class="first_name">
                    Valeria
                </span>
                <span class="last_name">
                    Barzola
                </span>
            </h2>
            <p class="title_dev">
                Developer
            </p>
        </div>
    </div>
    <div class="box_information">
        <img class="imagen_dev" src="../../assets/img/devteam/jaime.jpeg" alt="">
        <div class="full_name_container" >
            <h2 class="full_name">
                <span class="first_name">
                    Jaime
                </span>
                <span class="last_name">
                    Pizarro
                </span>
            </h2>
            <p class="title_dev">
                Developer
            </p>
        </div>
    </div>
    <div class="box_information">
        <img class="imagen_dev" src="../../assets/img/devteam/carlos.jpg" alt="">
        <div class="full_name_container" >
            <h2 class="full_name">
                <span class="first_name">
                    Carlos
                </span>
                <span class="last_name">
                    Loja
                </span>
            </h2>
            <p class="title_dev">
                Developer
            </p>
        </div>
    </div>
</div>