<app-navbar></app-navbar>
<div class="container py-5 mt-5">
    <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header mb-4">
            <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">1</span>
                    <span class="bs-stepper-label">Confirma los artículos</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">2</span>
                    <span class="bs-stepper-label">Datos del cliente</span>
                </button>
            </div>
            <div class="line"></div>
            <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                    <span class="bs-stepper-circle">3</span>
                    <span class="bs-stepper-label">Confirmación</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <div id="test-l-1" class="content">
                <div id="seccionproductos">
                    <div *ngIf="productos.length > 0">
                        <h2>Confirma tus productos</h2>
                        <p>Estos son los productos que deseas comprar:</p>
                    </div>
                    <div id="divproductos" class="row">
                        <div
                            class="card mb-3 m-3"
                            style="max-width: 240px"
                            *ngFor="let producto of productos"
                        >
                            <div class="row no-gutters h-100">
                                <div class="div-card-img w-100 text-center">
                                    <img
                                        class="mx-auto card-img"
                                        src="{{ producto.imagen }}"
                                        alt=""
                                    />
                                </div>
                                <div class="card-body">
                                    <div class="card-top">
                                        <h4 class="card-title">
                                            <a href="#">{{
                                                producto.nombre
                                            }}</a>
                                        </h4>
                                        <h5>${{ producto.precio }}</h5>
                                        <p class="card-text">
                                            {{ producto.descripcion }}
                                        </p>
                                        <div class="card-text">
                                            <strong> Cantidad </strong>:
                                            {{ producto.cantidad }}
                                            <div
                                                class="btn"
                                                (click)="
                                                    openEditModal(producto)
                                                "
                                            >
                                                <i
                                                    class="h5 mr-2 fas fa-pen"
                                                    style="color: #eea06c"
                                                ></i>
                                            </div>
                                        </div>
                                    </div>

                                    <a
                                        id="elimnarcart"
                                        class="btn btn-danger btn-sm"
                                        (click)="
                                            eliminardelCarrito(producto.id)
                                        "
                                        >Eliminar</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="productos.length == 0" class="text-center">
                        <h2 class="mb-5">
                            Aún no has agregado ningún producto al carrito.
                        </h2>
                        <a [routerLink]="['/shop']" class="btn btn-primary"
                            >Compra ahora!</a
                        >
                    </div>
                </div>
                <div *ngIf="productos.length > 0">
                    <button (click)="next()" class="mt-3 btn btn-primary">
                        Siguiente
                    </button>
                </div>
            </div>
            <div id="test-l-2" class="content">
                <h2 class="pb-4">¿Cómo deseas hacer el pago?</h2>
                <div id="metodos" class="row">
                    <div
                        id="metodo1"
                        class="card text-white bg-gray mb-3 mx-3"
                        style="max-width: 18rem"
                    >
                        <div class="card-header">Opcion 1</div>
                        <div class="card-body">
                            <h5 class="card-title">Efectivo</h5>
                            <p class="card-text text-white">
                                Ponte en contacto con nosotros para coordinar el
                                pago y la entrega presencial de la compra.
                            </p>
                        </div>
                    </div>

                    <div
                        id="metodo2"
                        class="card text-white bg-gray mb-3 mx-3"
                        style="max-width: 18rem"
                    >
                        <div class="card-header">Opcion 2</div>
                        <div class="card-body">
                            <h5 class="card-title">Transferencia bancaria</h5>
                            <p class="card-text text-white">
                                Realiza el pago mediante una transferencia y
                                ponte en contacto con nosotros para coordinar el
                                pago presencial o a domicilio.
                            </p>
                        </div>
                    </div>
                </div>
                <button (click)="realizarCompra()" class="btn btn-primary mt-3">
                    Siguiente
                </button>
            </div>
            <div id="test-l-3" class="content text-center">
                <h2>¡Listo! Muchas gracias por comprar con nosotros.</h2>
                <img src="./assets/icons/comprahecha.png" alt="" />
                <div class="d-block my-5">
                    <a [routerLink]="['/shop']" class="btn btn-primary"
                        >Volver a comprar</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>

<a
    id="editBtn"
    href="#"
    data-toggle="modal"
    data-target="#editCartModal"
    class="d-none"
></a>

<div
    class="modal fade"
    id="editCartModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg m-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar producto del carrito</h5>
                <button
                    id="closeModalCart"
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="idProduct" class="d-none"></div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <img
                            id="imgModal"
                            class="ml-3"
                            alt="arbolDecorativo1"
                            width="200px"
                            src="{{ productEdit.imagen }}"
                        />
                    </div>
                    <div class="col-8">
                        <h4 class="mt-2 text-primary">
                            {{ productEdit.nombre }}
                        </h4>
                        <h5>{{ productEdit.precio }}</h5>

                        <p class="py-3">{{ productEdit.descripcion }}</p>
                        <div class="ml-3 form-group row">
                            <label class="pt-2 pr-3" for="cantidad"
                                >Cantidad:
                            </label>
                            <input
                                id="cantidad"
                                type="number"
                                [(ngModel)]="productEdit.cantidad"
                                class="form-control"
                                min="1"
                                max="50"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                >
                    Cancelar
                </button>
                <button id="addCart" class="btn btn-primary">
                    Actualizar carrito
                </button>
            </div>
        </div>
    </div>
</div>
<app-authentication></app-authentication>
