<app-navbar></app-navbar>
<div class="container-contact100 mt-5">
    <div class="contenedor1">
        <div class="wrap-contact100">

            <form class="contact100-form validate-form">
                <span class="contact100-form-title">
                    Contáctanos
                </span>
                <hr class="divider light2 my-4">
                <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu nombre">
                    <input [(ngModel)]="bodyEmail.name" class="input100" type="text" name="name"
                        placeholder="Tu nombre">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu correo: e@a.x">
                    <input [(ngModel)]="bodyEmail.email" class="input100" type="text" name="email" placeholder="Correo">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Por favor ingresa tu telefono">
                    <input [(ngModel)]="bodyEmail.telf" class="input100" type="text" name="phone"
                        placeholder="Telefono">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Lugar de origen">
                    <select [(ngModel)]="bodyEmail.origin" id="origen" class="input100" type="text" name="origen">
                        <option value="" disabled selected>Lugar de origen</option>
                        <option value="dentro">
                            Dentro de Guayaquil
                        </option>
                        <option value="fuera">
                            Fuera de Guayaquil
                        </option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Por favor ingresa un mensaje">
                    <textarea [(ngModel)]="bodyEmail.msg" class="input100" name="message"
                        placeholder="Tu mensaje"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" (click)="enviarEmail()">
                        <span>
                            <i class="fas fa-paper-plane" aria-hidden="true"></i>
                            Enviar
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="py-5 mapa">
        <h2>Nuestra Ubicación</h2>
        <hr class="divider light2 my-4">
        <div class="divmapa my-5">
            <iframe src="https://www.google.com/maps/d/embed?mid=1ibjWn7IkYc9K5Wj3hnXlF5DYtugqgLuX" width="650"
                height="450"></iframe>
        </div>
    </div>
</div>