<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar mt-4">
                <!-- SIDEBAR USERPIC -->
                <div id="cont-pequeno">
                    <div class="profile-userpic text-center">
                        <img
                            src="../../assets/icons/logged.png"
                            class="img-responsive"
                            alt=""
                        />
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ data.nombres }} {{ data.apellidos }}
                        </div>
                        <div class="profile-usertitle-job">
                            {{ data.username }}
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <div class="profile-userbuttons">
                    <a [routerLink]="['/cart']" class="btn btn-success btn-sm"
                        >Carrito</a
                    >
                    <a [routerLink]="['/shop']" class="btn btn-danger btn-sm"
                        >Comprar</a
                    >
                </div>
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active pr-5 mr-4 py-2">
                            <a (click)="mostrarProfile(1)" class="py-2 pl-2">
                                <i class="fas fa-home"></i>
                                General</a
                            >
                        </li>
                        <li class="py-2">
                            <a (click)="mostrarProfile(2)" class="py-2 pl-2">
                                <i class="fas fa-user"></i>
                                Configuración de cuenta</a
                            >
                        </li>
                        <li class="pr-5 mr-4 py-2">
                            <a (click)="mostrarProfile(3)" class="py-2 pl-2">
                                <i class="fa fa-history"></i>
                                Pedidos</a
                            >
                        </li>
                        <li class="pr-5 mr-4 py-2 mb-5">
                            <a (click)="mostrarProfile(4)" class="py-2 pl-2">
                                <i class="fas fa-map-marked-alt"></i>
                                Direcciones</a
                            >
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9 mt-5">
            <div class="profile-content">
                <div id="profile-container">
                    <div class="container">
                        <div class="prof-header pb-5">
                            <h2>General</h2>
                        </div>
                        <div class="pl-3 prof-body row">
                            <div class="col-md-6 pb-3">
                                <p>
                                    <b>Nombres: </b>
                                    {{ data.nombres }}
                                </p>
                            </div>
                            <div class="col-md-6 pb-3">
                                <p>
                                    <b>Apellidos: </b>
                                    {{ data.apellidos }}
                                </p>
                            </div>
                            <div class="col-md-12 pb-3">
                                <p><b>Email: </b>{{ data.email }}</p>
                            </div>
                            <div class="col-md-12 pb-3">
                                <p><b>Celular: </b>{{ data.celular }}</p>
                            </div>
                            <div *ngIf="direcciones.length > 0">
                                <div
                                    *ngFor="
                                        let direccion of direcciones;
                                        let i = index
                                    "
                                    class="col-md-12 pb-3"
                                >
                                    <p>
                                        <b>Dirección {{ i + 1 }}: </b
                                        >{{ direccion.descripcion }}
                                    </p>
                                </div>
                            </div>
                            <div *ngIf="direcciones.length == 0">
                                <p>
                                    No tiene direcciones registradas a esta
                                    cuenta
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container d-none">
                        <div class="prof-header pb-5">
                            <h2>Configuración de la cuenta:</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form
                                    id="form-config"
                                    method="POST"
                                    action="/updateprofile"
                                >
                                    <div class="form-group row">
                                        <label
                                            for="username"
                                            class="col-4 col-form-label"
                                            >Nombre de usuario</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="username"
                                                name="username"
                                                placeholder="Nombre de usuario"
                                                class="form-control here"
                                                required="required"
                                                type="text"
                                                [(ngModel)]="dataEdit.username"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            for="name"
                                            class="col-4 col-form-label"
                                            >Nombres</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="name"
                                                name="name"
                                                placeholder="Nombres"
                                                class="form-control here"
                                                type="text"
                                                [(ngModel)]="dataEdit.nombres"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            for="lastname"
                                            class="col-4 col-form-label"
                                            >Apellidos</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="lastname"
                                                name="lastname"
                                                placeholder="Apellidos"
                                                class="form-control here"
                                                type="text"
                                                [(ngModel)]="dataEdit.apellidos"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            for="cell"
                                            class="col-4 col-form-label"
                                            >Celular</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="cell"
                                                name="cell"
                                                placeholder="Celular"
                                                class="form-control here"
                                                required="required"
                                                type="text"
                                                [(ngModel)]="dataEdit.celular"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            for="newpass"
                                            class="col-4 col-form-label"
                                            >Nueva Contraseña</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="newpass"
                                                name="newpass"
                                                placeholder="Nueva Contraseña"
                                                class="form-control here"
                                                type="password"
                                                [(ngModel)]="dataEdit.newpass"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label
                                            for="newpassConfirm"
                                            class="col-4 col-form-label"
                                            >Repita la nueva Contraseña</label
                                        >
                                        <div class="col-8">
                                            <input
                                                id="newpassConfirm"
                                                name="newpassConfirm"
                                                placeholder="Nueva Contraseña"
                                                class="form-control here"
                                                type="password"
                                                [(ngModel)]="
                                                    dataEdit.newpassConfirm
                                                "
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-4 col-8">
                                            <button
                                                name="submit"
                                                class="btn btn-primary"
                                                (click)="actualizarPerfil()"
                                            >
                                                Actualizar mi perfil
                                            </button>
                                            <a
                                                class="btn btn-lg"
                                                type="reset"
                                                (click)="cargarProfile()"
                                                ><i class="fas fa-redo-alt"></i>
                                                Reset</a
                                            >
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="container d-none">
                        <div class="prof-header pb-5">
                            <h2>Pedidos:</h2>
                        </div>
                        <div
                            *ngIf="pedidos.length > 0"
                            class="card horizontal-scrollable mb-4"
                        >
                            <div class="container-scrollable">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-3">Pedido</div>
                                        <div class="col-3">Fecha</div>
                                        <div class="col-3">Metodo de Pago</div>
                                        <div class="col-3">Total</div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li
                                        *ngFor="let pedido of pedidos"
                                        class="list-group-item"
                                    >
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                {{ pedido.id }}
                                            </div>
                                            <div class="col-3">
                                                {{ pedido.fecha }}
                                            </div>
                                            <div class="col-3">
                                                {{ pedido.metodoPago }}
                                            </div>
                                            <div class="col-3">
                                                ${{ pedido.total }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="pedidos.length == 0">
                            <p>
                                No tiene ningún pedido por el momento.
                                <a
                                    class="btn btn-primary"
                                    [routerLink]="['/shop']"
                                    >Compre ahora!</a
                                >
                            </p>
                        </div>
                    </div>
                    <div class="container d-none">
                        <div class="prof-header pb-5">
                            <h2>Direcciones:</h2>
                        </div>
                        <div *ngIf="direcciones.length > 0">
                            <div
                                *ngFor="
                                    let direccion of direcciones;
                                    let i = index
                                "
                                class="form-group row"
                            >
                                <label
                                    class="col-2 mt-2"
                                    for="direccion{{ i + 1 }}"
                                    >Dirección {{ i + 1 }}</label
                                >
                                <input
                                    id="direccion-{{ i + 1 }}"
                                    name="direccion1"
                                    type="text"
                                    class="form-control col-6"
                                    value="{{ direccion.descripcion }}"
                                    disabled
                                />
                                <div
                                    id="edit-dir-{{ i + 1 }}-{{ direccion.id }}"
                                    class="edit-addr"
                                    (click)="editDireccion($event)"
                                >
                                    <i
                                        class="h5 m-2 fas fa-pen"
                                        style="color: #eea06c"
                                    ></i>
                                </div>
                                <div
                                    id="delete-dir-{{ i }}-{{ direccion.id }}"
                                    class="delete-addr"
                                    (click)="deleteDireccion($event)"
                                >
                                    <i
                                        class="h5 m-2 pen fas fa-trash"
                                        style="color: rgb(245, 109, 109)"
                                    ></i>
                                </div>
                            </div>
                        </div>
                        <a
                            id="editBtn"
                            href="#"
                            data-toggle="modal"
                            data-target="#editAddrModal"
                            class="d-none"
                        ></a>
                        <div *ngIf="direcciones.length == 0">
                            <p>
                                No tiene direcciones registradas a esta cuenta
                            </p>
                        </div>
                        <a
                            href="#"
                            data-toggle="modal"
                            data-target="#addAddrModal"
                            class="my-4 btn btn-primary"
                        >
                            Agregar dirección
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="editAddrModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Editar la dirección <span class="direccionInput"></span>
                </h5>
                <button
                    id="btnCloseEdit"
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="changeDireccion"
                        >Introduce la nueva dirección:
                    </label>
                    <input
                        id="changeDireccion"
                        class="changeDireccion form-control"
                        type="text"
                    />
                </div>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                >
                    Cancelar
                </button>
                <a class="btnEditar btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="addAddrModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar nueva dirección</h5>
                <button
                    id="btnCloseAdd"
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newDireccion"
                        >Introduce la nueva dirección:
                    </label>
                    <input
                        id="newDireccion"
                        class="newDireccion form-control"
                        type="text"
                    />
                </div>
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                >
                    Cancelar
                </button>
                <button (click)="addDireccion()" class="btn btn-primary">
                    Agregar
                </button>
            </div>
        </div>
    </div>
</div>
