<div id="container_img"></div>
<div id="about_text">
  <h1>Nuestro Emprendimiento</h1>
</div>
<div id="history_title">
  <div>
    <h1>Historia</h1>
    <p>Una decepción,un desafío, y un nuevo comienzo.</p>
  </div>
</div>
<div id="container_h">
  <div id="history_container">
    Todo comenzó con mi despido, no más sueldo fijo ni vida estable. Sentí que
    mi vida estaba yendo en picada, todos los días enviaba mi curriculum mínimo
    a 10 empresas e incluso me uní a varios grupos donde se ofertan empleos,
    hice tantas cosas que después de varios meses sin resultados fue cuando
    llegó la decepción. Resignada, cierto día navegando por Internet me topé con
    una publicación en el que se estaba vendiendo abrigos con la temática de una
    película que todo el mundo ansiaba ver: The Avengers, me dije "que bonita,
    ojala tuviera una", en ese mismo instante la idea afloró en mi cabeza y fue
    el inicio de mi pequeño emprendimiento y a la vez uno de mis mayores
    desafíos ya que no tenía conocimiento alguno sobre los negocios. He de
    admitir que al inicio si no fuera por mi familia en varias ocasiones me
    hubieran estafado, ahora digo con orgullo que eso ya no es tan fácil. Con la
    ayuda de mis padres traté de montar un negocio en físico mismo que no
    resultó, ahora ese local lo visitan solo personas que me preguntan por
    interno sobre mis productos, ¿como? Ya lo sabrán. Cabe aclarar que tampoco
    era muy activa en las redes sociales, con el inicio de mi emprendimiento
    también inicié cursos con los cuales tener más conocimiento de como dar a
    conocer mi negocio, en especial con el inicio de la pandemia, fueron horas
    frente al ordenador creando logos y publicaciones para mi página de Facebook
    e Instagram. Comencé reevendiedo abrigos, luego vino a mí la idea de crear
    centros de mesa con madera, velas y cucharas, cada día perfeccionaba más mis
    productos, mismos que hacía por temporada, por ejemplo en las fechas de
    navidad hago árboles de diferentes tamaños y colores de los cuales cuelgan
    esferas con los nombres de los integrantes que el cliente pida, éstos hechos
    a base de vinil y mdf. Me gusta lo que hago, me divierto y cada creación se
    lleva un pedacito mi en ellas, no está de más admitir lo gratificante que se
    siente que los clientes me escriban para felicitar mi trabajo, ahora puedo
    decir que éste fue un nuevo comienzo.
  </div>
</div>

<div id="container_v_m">
  <div id="mision_container">
    <div>Misión</div>
    <div>
      Ofrecer al cliente la mayor variedad de productos con la mejor calidad y
      el menor costo posible, además de dar un servicio de calidad y convertirse
      en inspiración para otros emprendimientos.
    </div>
  </div>
  <div id="vision_container">
    <div>Visión</div>
    <div>
      Convertirse en un referente de la innovación constante, generando variados
      productos con la más alta calidad, además de generar empleos e inspirar a
      más personas a arriesgarse.
    </div>
  </div>
  <div></div>
</div>

<div id="separator-about">
  <div class="content bg-primary"></div>
</div>
<div class="container py-2">
  <div class="row">
    <div class="col-lg-3 col-md-6 text-center expand-on-hover">
      <div class="mt-5">
        <i class="fas fa-4x fa-gem text-primary mb-4"></i>
        <h3 class="h4 mb-2">Calidad</h3>
        <p class="text-muted mb-0">Nos fijamos en cada detalle</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center expand-on-hover">
      <div class="mt-5">
        <svg
          width="66"
          height="64"
          viewBox="0 0 496 512"
          class="scg-inline--fa fa-4x text-primary mb-4"
        >
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="m136.289062 271h180c8.292969 0 15-6.710938 15-15v-181c0-8.289062-6.707031-15-15-15h-45v-15c0-24.8125-20.1875-45-45-45s-45 20.1875-45 45v15h-45c-8.289062 0-15 6.710938-15 15v181c0 8.289062 6.710938 15 15 15zm75-226c0-8.277344 6.738282-15 15-15 8.261719 0 15 6.722656 15 15v15h-30zm0 0"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            xmlns="http://www.w3.org/2000/svg"
            d="m444.816406 248.234375c-2.695312-4.480469-7.589844-7.234375-12.832031-7.234375-26.429687 0-50.675781 14.667969-62.945313 38.078125l-46.011718 87.8125c-7.820313 14.882813-23.085938 24.109375-39.871094 24.109375h-101.867188c-8.289062 0-15-6.710938-15-15s6.710938-15 15-15h101.863282c5.597656 0 10.695312-3.074219 13.304687-8.042969 2.597657-4.960937 10.445313-19.941406 17.191407-32.816406 2.125-4.054687 1.976562-8.925781-.394532-12.84375-2.375-3.914063-6.621094-6.296875-11.199218-6.296875h-155.921876c-20.039062 0-38.847656 7.808594-53.027343 21.972656l-88.710938 88.710938c-5.859375 5.859375-5.859375 15.351562 0 21.210937l75 74.710938c2.929688 2.929687 6.769531 4.398437 10.605469 4.398437s7.675781-1.46875 10.605469-4.398437l56.894531-56.605469h125.652344c39.171875 0 74.824218-21.5625 93.019531-56.265625l69.082031-131.761719c2.460938-4.644531 2.285156-10.238281-.4375-14.738281zm0 0"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
        </svg>
        <h3 class="h4 mb-2">Producto Final</h3>
        <p class="text-muted mb-0">Presentación final agradable al cliente</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center expand-on-hover">
      <div class="mt-5">
        <svg
          width="66"
          height="64"
          viewBox="0 0 496 512"
          class="scg-inline--fa fa-4x text-primary mb-4"
        >
          <path
            d="m107.65 324.11v-136.659l-80.498-46.476c-17.758 35.244-27.152 74.413-27.152 115.025 0 40.481 9.336 79.527 26.984 114.683z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m107.65 152.81v-45.16h133.35v-107.203c-62.739 3.601-121.22 29.735-166.019 74.533-12.373 12.372-23.312 25.794-32.758 40.055z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m241 404.35h-133.35v-45.599l-65.635 37.894c9.493 14.38 20.501 27.91 32.966 40.375 44.799 44.798 103.28 70.932 166.019 74.533z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m404.35 358.751v45.599h-133.35v107.204c62.739-3.602 121.221-29.735 166.02-74.534 12.464-12.464 23.472-25.995 32.966-40.374z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m404.35 187.451v136.659l80.666 46.572c17.648-35.155 26.984-74.201 26.984-114.682 0-40.612-9.394-79.781-27.152-115.025z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m271 107.65h133.35v45.16l65.428-37.775c-9.446-14.261-20.385-27.683-32.758-40.055-44.799-44.798-103.281-70.932-166.02-74.533z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m301.482 270.78h-90.965v-133.13h-72.867v236.7h236.7v-236.7h-72.867v133.13zm32.303 74.886-63.239.058-.027-30 63.239-.058z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
          <path
            d="m240.517 137.65h30.965v103.13h-30.965z"
            fill="#ec823a"
            data-original="#000000"
            style=""
            class=""
          />
        </svg>
        <h3 class="h4 mb-2">Entrega</h3>
        <p class="text-muted mb-0">
          Envíos por servientrega, a domicilio o retiro en local
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center expand-on-hover">
      <div class="mt-5">
        <i class="fas fa-4x fa-heart text-primary mb-4"></i>
        <h3 class="h4 mb-2">Hecho con amor</h3>
        <p class="text-muted mb-0">
          No serían productos de calidad si no fueran hechos con amor
        </p>
      </div>
    </div>
  </div>
</div>

<div id="dev_button">
  <a href="#" class="btn btn-primary dev"> Acerca de los Desarrolladores </a>
</div>
