<app-navbar></app-navbar>
<div class="container mt-5">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8" >
    
            <h1 class="my-4"> NOTICIAS Y NOVEDADES </h1>
            
            <div id="newsContainer" >
                <div class="card mb-4" *ngFor="let dic of noticias">
                    <img class="card-img-top" src={{dic.imagen}}>
                    <div class="card-body">
                        <h2 class="card-title">{{dic.Titulo}}</h2>
                        <p class="card-text">{{dic.Descripcion}} </p>
                        <a class="btn btn-primary" href="">Read More</a>
                    </div>
                    <div class="card-footer text-muted">
                        Publicado: {{dic.Fecha}}
                    </div>
                </div>
            </div>
            
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
            <li class="page-item disabled">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
            </ul>
    
        </div>
    
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
    
            <!-- Search Widget -->
            <div class="card my-4">
            <h5 class="card-header">Búsqueda</h5>
            <div class="card-body">
                <div class="input-group">
                <input type="text" id="inputNoticia" class="form-control" placeholder="Busca la noticia..." (input)="filtrar($event)">
                </div>
            </div>
            </div>
            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">¡Infórmate!</h5>
                <div class="card-body">
                    ¡Entérate de todo lo nuevo y de calidad que traemos para tí! <br>
                    Podrás encontrar estreno de productos, categorías y las novedades según la
                    temporada para que puedas llevarte lo que más te guste.  
                </div>
            </div>
    
        </div>
    
    </div>
    <!-- /.row -->

</div>

