<div id="wrapper">
  <app-aside></app-aside>
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content mb-5">
      <!-- Topbar -->
      <app-navbar-admin></app-navbar-admin>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <h2 id="title-pc">OPCIONES</h2>
        <div id="servicios" class="row mb-5">
          <div id="nuevoProduct" class="card col-4 mx-4" style="width: 18rem">
            <img
              class="card-img-top"
              src="./assets/icons/addproduct.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">Agrega un nuevo producto a la página.</p>
            </div>
          </div>
          <div id="addnoticias" class="card col-4 mx-4" style="width: 18rem">
            <img
              class="card-img-top"
              src="./assets/icons/addnew.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">Agrega nuevas noticias a la página.</p>
            </div>
          </div>
          <div
            id="verestadisticas"
            class="card col-4 mx-4"
            style="width: 18rem"
          >
            <img
              class="card-img-top"
              src="/assets/icons/estadisticas.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">
                Ver estadísitcas de las compras en la página web.
              </p>
            </div>
          </div>
          <div id="addcateg" class="card col-4 mx-4" style="width: 18rem">
            <img
              class="card-img-top"
              src="/assets/icons/categorias.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">Agrega nuevas categorías a la página.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
  </div>
</div>
