<ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
>
    <!-- Sidebar - Brand -->
    <li class="nav-item sidebar-logo">
        <div class="sidebar-brand-icon">
            <img id="icon" src="assets/icons/icono.png" alt="Logo Empresa" />
        </div>
        <div class="sidebar-brand-text mx-3">MERAKI GIFTS</div>
    </li>

    <!-- Divider -->
    <li class="sidebar-divider"></li>

    <!-- Heading -->
    <li class="sidebar-heading">Admin</li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/controlpanel">
            <i class="fas fa-fw fa-tools"></i>
            <span>Panel de Control</span></a
        >
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/addproduct">
            <i class="fas fa-fw fa-upload"></i>
            <span>Nuevo Producto</span></a
        >
    </li>

    <!-- Divider -->
    <li class="sidebar-divider"></li>

    <!-- Heading -->
    <li class="sidebar-heading">Datos</li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Estadísticas</span></a
        >
    </li>

    <!-- Divider -->
    <li class="sidebar-divider"></li>

    <!-- Heading -->
    <li class="sidebar-heading">Interfaz Usuario</li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
        >
            <i class="fas fa-fw fa-folder"></i>
            <span>Páginas</span>
        </a>
        <div
            id="collapsePages"
            class="collapse"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Principales:</h6>
                <a class="collapse-item" href="/" target="blank">Indice</a>
                <a class="collapse-item" href="/about" target="blank"
                    >¿Que Hacemos?</a
                >
                <a class="collapse-item" href="/noticias" target="blank"
                    >Noticias</a
                >
                <a class="collapse-item" href="/contactus" target="blank"
                    >Contáctanos</a
                >
                <a class="collapse-item" href="/shop" target="blank">Comprar</a>
                <a class="collapse-item" href="/devteam" target="blank"
                    >DevTeam</a
                >
                <a class="collapse-item" href="/cart" target="blank">Carrito</a>

                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <li>
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </li>
</ul>

<div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    ¿Seguro que deseas salir?
                </h5>
                <button
                    class="close"
                    type="button"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Selecciona salir abajo para terminar tu sesión actual
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-dismiss="modal"
                >
                    Cancelar
                </button>
                <a class="btn btn-primary" href="login.html">Salir</a>
            </div>
        </div>
    </div>
</div>
