<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a
            class="navbar-brand js-scroll-trigger meraki-icon"
            [routerLink]="['/']"
        >
            <img src="assets/icons/icono_letras.png" alt="" height="70" />
        </a>
        <button
            class="navbar-toggler navbar-toggler-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['/']"
                        >Inicio</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link js-scroll-trigger"
                        [routerLink]="['/about']"
                        >¿Qué hacemos?</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link js-scroll-trigger"
                        [routerLink]="['/noticias']"
                        >Noticias</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link js-scroll-trigger"
                        [routerLink]="['/contactus']"
                        >Contáctanos</a
                    >
                </li>
                <li class="nav-item nav-button">
                    <a [routerLink]="['/shop']" class="button ml-3">Comprar</a>
                </li>

                <li *ngIf="_authService.getIsCompras()" class="nav-item">
                    <a
                        class="nav-link js-scroll-trigger"
                        [routerLink]="['/cart']"
                        ><img
                            id="carrito"
                            src="./assets/icons/carrito-de-compras.png"
                            alt=""
                    /></a>
                </li>
                <li
                    *ngIf="_authService.getIsCompras()"
                    class="topbar-divider d-none d-sm-block"
                ></li>
                <li
                    *ngIf="_authService.getIsCompras()"
                    class="nav-item dropdown text-center"
                >
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="userDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <span
                            *ngIf="!_authService.loggedIn()"
                            class="mr-2 d-none d-lg-inline cuenta"
                            >Ingresar</span
                        >
                        <span
                            *ngIf="_authService.loggedIn()"
                            class="mr-2 d-none d-lg-inline cuenta"
                            >{{ username }}</span
                        >
                        <img
                            *ngIf="!_authService.loggedIn()"
                            id="user"
                            alt="Profile Image"
                            class="h-100"
                            src="/assets/icons/not-logged.png"
                        />
                        <img
                            *ngIf="_authService.loggedIn()"
                            id="user-logged"
                            alt="Profile Image"
                            class="h-100"
                            src="/assets/icons/iconoUser.png"
                        />
                    </a>
                    <div
                        class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown"
                    >
                        <a
                            *ngIf="!_authService.loggedIn()"
                            id="iniciarSesionBtn"
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#loginModal"
                        >
                            Iniciar Sesión
                        </a>
                        <a
                            *ngIf="_authService.loggedIn()"
                            id="registrarseBtn"
                            class="dropdown-item"
                            [routerLink]="['/profile']"
                        >
                            Ver Perfil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a
                            *ngIf="!_authService.loggedIn()"
                            id="registrarseBtn"
                            class="dropdown-item"
                            href="#"
                            data-toggle="modal"
                            data-target="#registerModal"
                        >
                            Registrarse
                        </a>
                        <a
                            *ngIf="_authService.loggedIn()"
                            id="registrarseBtn"
                            class="dropdown-item"
                            (click)="_authService.logoutUser()"
                        >
                            Cerrar Sesión
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
